---

stages:
  - build
  - verify
  - code_quality


before_script:
  - python3 -V


install_venv:
  stage: build
  script:
    - python3 -m venv venv
    - source venv/bin/activate
    - python -V
    - pip install -r requirements.txt
  artifacts:
    paths:
      - venv/


#install_db:
#  stage: build
#  script:
#    - sqitch deploy db:pg://your_db_user@localhost/pgosm



run_junit_test:
  stage: verify
  script:
    - source venv/bin/activate
    - python -V
    - python -m pytest --junitxml=pytest.xml tests/
  artifacts:
    paths:
      - pytest.xml
    reports:
      junit: pytest.xml
  allow_failure: true


run_coverage:
  stage: code_quality
  script:
    - source venv/bin/activate
    - python -V
    - coverage run -m unittest tests/*.py
    - coverage report -m pgosm/*.py
    - coverage xml --include="pgosm/*.py" -o coverage.xml
  artifacts:
    paths:
      - coverage.xml
    reports:
      metrics: coverage.xml
  allow_failure: true


...